<div class="flex flex-col flex-1 items-center justify-start w-screen h-full overflow-y-auto overflow-x-hidden z-0 main-container-section">
    <div class="sc-eXEjpC sc-hXRMBi eEhUZA"></div>
    <div height="0" class="sc-eTuwsz kyVAdl">
        <div class="sc-gwVKww dylNmp"></div>
    </div>
    <div class="sc-eXEjpC sc-cHSUfg bYQNJg dig-liquidity mb-auto my-auto relative">
        <div class="block w-full rounded text-sm p-4 text-high-emphesis fetch-container text">
            <div class="text-2xl font-extrabold mb-1 text">FARM SHIBA
            </div>
            <div class="flex items-center">
                <div class="ml-0">
                    <p>
                    <p class="text-gray-5000 font-extrabold text">Provide liquidity to shiba swap and
                        receive great rewards.</p>
                    </p>
                </div>
            </div>
        </div>

        <div class='country__camp country__camp2'>
            <label for='selectToken' class='label' id="label1">
                Select token:
            </label>
            <select id='selectToken' class='input'>
                <option value="">Select a token...</option>
                <option value="content_1">SHIB</option>
                <option value="content_2">BUSD</option>
                <option value="content_3">ETH</option>
                <option value="content_4">BNB</option>
                <option value="content_5">USDT</option>
            </select>
        </div>
        <div class='section_farm fetch-container'>
            <table class='roi__table'>
                <caption class='roi__caption'><i class='fas fa-exchange-alt'></i> ROI</caption>
                <tbody id="content_1" class="inv">
                    <tr>
                        <td>TIMEFRAME</td>
                        <td>ROI</td>
                        <td>AMOUNT OF SHIB PER 36M SHIB</td>
                    </tr>
                    <tr>
                        <td>1d</td>
                        <td>2,77%</td>
                        <td>1.000.000</td>
                    </tr>
                    <tr>
                        <td>7d</td5>
                        <td>19,44%</td>
                        <td>7.000.000</td>
                    </tr>
                    <tr>
                        <td>30d</td>
                        <td>83,33%</td>
                        <td>30.000.000</td>
                    </tr>
                </tbody>

                <tbody id='content_2' class="inv">
                    <tr>
                        <td>TIMEFRAME</td>
                        <td>ROI</td>
                        <td>AMOUNT OF SHIB PER 300 BUSD</td>
                    </tr>
                    <tr>
                        <td>1d</td>
                        <td>0,69%</td>
                        <td>250.000</td>
                    </tr>
                    <tr>
                        <td>7d</td5>
                        <td>7,22%</td>
                        <td>2.600.000</td>
                    </tr>
                    <tr>
                        <td>30d</td>
                        <td>31,94%</td>
                        <td>11.500.000</td>
                    </tr>
                </tbody>

                <tbody id='content_3' class="inv">
                    <tr>
                        <td>TIMEFRAME</td>
                        <td>ROI</td>
                        <td>AMOUNT OF SHIB PER 0,13 ETH</td>
                    </tr>
                    <tr>
                        <td>1d</td>
                        <td>1,52%</td>
                        <td>550.000</td>
                    </tr>
                    <tr>
                        <td>7d</td5>
                        <td>9,72%</td>
                        <td>3.500.000</td>
                    </tr>
                    <tr>
                        <td>30d</td>
                        <td>41,66%</td>
                        <td>15.000.000</td>
                    </tr>
                </tbody>

                <tbody id='content_4' class="inv">
                    <tr>
                        <td>TIMEFRAME</td>
                        <td>ROI</td>
                        <td>AMOUNT OF SHIB PER 1 BNB</td>
                    </tr>
                    <tr>
                        <td>1d</td>
                        <td>1,11%</td>
                        <td>400.000</td>
                    </tr>
                    <tr>
                        <td>7d</td5>
                        <td>8,88%</td>
                        <td>3.200.000</td>
                    </tr>
                    <tr>
                        <td>30d</td>
                        <td>36,11%</td>
                        <td>13.000.000</td>
                    </tr>
                </tbody>

                <tbody id='content_5' class="inv">
                    <tr>
                        <td>TIMEFRAME</td>
                        <td>ROI</td>
                        <td>AMOUNT OF SHIB PER 300 USDT</td>
                    </tr>
                    <tr>
                        <td>1d</td>
                        <td>0,69%</td>
                        <td>250.000</td>
                    </tr>
                    <tr>
                        <td>7d</td5>
                        <td>7,22%</td>
                        <td>2.600.000</td>
                    </tr>
                    <tr>
                        <td>30d</td>
                        <td>31,94%</td>
                        <td>11.500.000</td>
                    </tr>
                </tbody>
            </table>

            <div class="labels_group">
                <div class='country__camp1'>
                    <label for='country' class='label_icons'><i class="far fa-clock icon_label"></i></label>
                    <select id='selectTime' name='country' class=''>
                        <option value="1">1d</option>
                        <option value="7">7d</option>
                        <option value="30">30d</option>
                    </select>
                </div>

                <div class='cant__camp'>
                    <label for='cant' class='label_icons'><i class="fas fa-coins"></i></label>
                    <input type='number' id='amountToken' name='cant' value='0' placeholder='0' class=''>
                    <p id='errParragraph' style='color:red;'></p>
                </div>

                <p class="p_msg">You will receive <span id='numTokens'>0</span> <img src="./images/shiba.png" class="shib_coin_img"> in
                    <span id='numDays'>1</span> day(s)
                </p>
            </div>

            <div id='button_farm' class='button_farm link__back'>
                <button id='toStep2' class="farm_button">Next Step</button>
            </div>
        </div>



    </div>
</div>
</div>
</div>